body { /* Styling for the body of the webpage */
    margin: 0; /* Removes default margin */
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background-color: #121212; /* Dark background colour */
    font-family: 'Poppins', sans-serif; /* Sets the font */
    flex-direction: column; /* Stacks content vertically */
}

button { /* Styling for buttons */
    width: 100px; /* Button width */
    height: 100px; /* Button height */
    border-radius: 50px; /* Rounded corners */
    border: none; /* No border */
    background-color: rgb(160, 160, 160); /* Light gray background colour */
    font-size: 3rem; /* Large font size */
    font-weight: bold; /* Bold font */
    cursor: pointer; /* Pointer cursor on hover */
    color: rgb(39, 39, 39); /* Dark text color */
}

#keys { /* Styling for the keys container */
    display: grid; /* Enables grid layout */
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal-width columns */
    gap: 10px; /* Adds space between grid items */
    padding: 50px; /* Adds padding around the container */
}

#calculator {/* Styling for the calculator container */
    font-family: Arial, sans-serif; /* Sets the font for the calculator */
    background-color: rgb(77, 77, 77); /* Dark gray background colour */
    border-radius: 20px; /* Rounded corners */
    max-width: 500px; /* Maximum width of the calculator */
    overflow: hidden; /* Hides any overflow content */
    text-align: center; /* Centers text horizontally */
    align-items: center; /* Centers items inside the calculator */
}

#display { /* Styling for the display */
    width: 100%; /* Full width */
    padding: 25px; /* Padding around the text */
    font-size: 5rem; /* Large font size */
    text-align: left; /* Left-aligns the text */
    border: none; /* Removes border */
    background-color: rgb(114, 114, 114); /* Slightly lighter gray background */
    color: white; /* White text color */
}
button:hover{ /* Changes colour of button on hover */
    background-color: rgba(160, 160, 160, 0.301); 
}
button:active{ /* When button is clicked, changes the colour */
    background-color: rgba(160, 160, 160, 0.651); 
}
.operator-btn{ /* Changes colour button click */
    background-color: #00ADB5;
}
.operator-btn:active{ /* Changes colour button on click */
    background-color: #37ebf56c;
}
.operator-btn:hover{ /* Changes colour button on hover */
    background-color: #00acb5d0;
}


h1 { /*Styling of head and how its displayed */
    color: white; 
    font-size: 2.5rem; 
    margin-bottom: 20px; 
}
p { /*Styling of paragraph lines and its display */
    color: #b4b4b4;
    font-size: 1.5rem;
}
